<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Konstgräsplan</th>
            <th scope="col">Datum</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}            
            <tr onclick="window.location='http://localhost:8000/action/{{id}}';">
            <th scope="row">{{@index}}</th>
            <td>{{name}}</td>
            <td>{{date}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>