
{{#if current}}
<div class="container" >
    <div class="row mt-5 mb-2" style="min-height: 300px;">
        {{>bookings}}
        {{>forecast}}
    </div>
</div>
{{else}}
<br>
{{/if}}

{{>actionList}}

<!-- Insert modals -->
{{>clearance}}
{{>close}}